body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #344b46;
}

h3 {
    color: #006b5e;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.container {
    background-color: #ffffff;
    border: 1px solid #97b1ab;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    margin: 50px auto;
}

.form-group label {
    font-weight: bold;
    color: #344b46;
}

.form-control, 
.form-control-file, 
.form-control:focus {
    border: 1px solid #97b1ab;
    border-radius: 4px;
    box-shadow: none;
    background-color: #fff;
    color: #344b46;
}

textarea.form-control {
    resize: vertical;
}

.btn-save {
    background-color: #F3D457;
    color: #344b46;
    border: none;
    width: 100%;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-save:hover {
    background-color: #af9e69;
    color: #fff;
    transform: scale(1.015);
}

.btn-save:active {
    background-color: #af9e69; 
    transform: scale(0.95);
}

.form-control-file {
    color: #97b1ab;
}

.form-control-file:hover {
    color: #006b5e;
}

.text-center {
    text-align: center;
}
