body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    z-index: -1;
    filter: blur(8px);
}

.background-image {
    object-fit: cover;
}


.container-regis {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: relative;
}

.container-login {
    width: 100%;
    max-width: 500px;
    margin-top: 150px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: relative;
}


h3 {
    color: #333333;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    color: #555555;
    font-weight: 600;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.btn{
    background-color: #F3D457;
    color: #344b46;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #af9e69;
    color: #fff;
    transform: scale(1.05);
}

.btn:active {
    background-color: #af9e69 !important;
    color: #fff;
    transform: scale(1.05);
}

.card.inactive {
    background-color: #f8f9fa; 
    opacity: 0.6; 
    pointer-events: none;
    border-color: #ddd;
}

.badge-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-disabled {
    background-color: #ccc;
    color: #6c757d;
    border: none;
    cursor: not-allowed;
}

.btn-secondary {
    background-color: #3f786c !important;
    color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-secondary i {
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #006b5e !important;
}
