body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer p {
    line-height: 1.6;
    color: #ffffff !important;
}

.footer {
    background-color: #343a40;
    color: #ffffff !important;
    text-align: center;
    padding: 5px;
    width: 100%;
    margin-top: auto; 
}