body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    color: #344b46;
    padding-top: 70px; 
}

.navbar {
    background-color: #006b5e;
}

.navbar-brand,
.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #97b1ab !important;
}

.input-group {
    max-width: 500px;
    margin: 0 auto;
}

.input-group .form-control {
    border: 1px solid #344b46;
}

.input-group .btn {
    background-color: #006b5e;
    border: 1px solid #006b5e;
    color: #fff;
}

.input-group .btn:hover {
    background-color: #344b46;
    border-color: #344b46;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.list-group {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-group-item {
    border: none;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.list-group-item img {
    border-radius: 5px;
}

.list-group-item.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.list-group-item h5 {
    color: #006b5e;
    font-weight: bold;
}

.list-group-item p {
    color: #344b46;
    margin: 5px 0;
}

.list-group-item small {
    color: #97b1ab;
}

.badge-danger {
    background-color: #ff4d4f;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 3px;
}