.nav-chat .nav-link {
    color: #F3D457 !important;
    font-weight: bold;
}

.container {
    color: #344b46;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #97b1ab;
    color: #344b46; 
    transition: background-color 0.2s ease, transform 0.1s ease, color 0.2s ease;
}

.cart-history .list-group-item:hover {
    background-color: #006b5e; 
    color: #f5f5f5; 
    transform: translateY(-4px); 
}

.cart-history .list-group-item:hover strong {
    color: #aeaf69; 
}


.chat-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #006b5e; 
}

strong {
    color: #344b46; 
    font-weight: bold;
}

p.text-muted {
    font-size: 0.9em;
    margin-bottom: 0;
}

small.text-muted {
    font-size: 0.85em;
}
