html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #344b46;
    padding-top: 70px; 
    margin: 0;
}

.navbar {
    background-color: #006b5e;
    padding: 10px 20px;
}

.navbar-brand {
    color: #f5f5f5 !important;
    font-size: 20px;
    font-weight: bold;
} 

.nav-link {
    color: #8f979e !important;
    font-size: 16px;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-brand {
    font-weight: bold;
}
.navbar-brand img {
    vertical-align: middle;
}

.navbar-brand span {
    font-size: 1.25rem;
    color: #fff; 
}

.nav-link:hover {
    color: #af9e69 !important;
}

.nav-profile .dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #344b46;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #f5f5f5 !important;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #006b5e;
    color: #f5f5f5 !important;
    transform: scale(1.05);
}

.dropdown-item:active {
    background-color: #af9e69;
    transform: scale(0.95);
}

.nav-profile img {
    border: 2px solid #006b5e;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.nav-profile img:hover {
    transform: scale(1.1);
}
