body {
    background: linear-gradient(to bottom, #006b5e, #63baab);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto; 
}

h3 {
    color: #333333;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    color: #555555;
    font-weight: 600;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.btn {
    background-color: #F3D457;
    border-color: #fef9ee;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #9e9065;
}