.nav-home .nav-link {
    color: #F3D457 !important;
    font-weight: bold;
}

.text-center {
    color: #344b46;
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    border-color: #97b1ab;
}

.btn-search {
    background-color: #006b5e;
    color: #fff; 
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-search:hover {
    background-color: #344b46;
    transform: scale(1.05);
}

.btn-search:active {
    background-color: #af9e69; 
    transform: scale(0.95);
}

.btn-learn {
    background-color: #F3D457;
    color: #344b46;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-learn:hover {
    background-color: #af9e69;
    color: #fff;
    transform: scale(1.05);
}

.btn-learn:active {
    background-color: #af9e69; 
    transform: scale(0.95);
}

.category-card, .store-card {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.category-card:hover, .store-card:hover {
    transform: scale(1.1); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.category-card img, .store-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: transform 0.3s ease;
}

.category-card:hover .category-card-img, .store-card:hover .store-card-img {
    transform:  scale(1.05);
}

.category-card p, .store-card p {
    font-weight: bold;
    color: #006b5e;
    margin: 10px 0;
}

.about-us {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #344b46;
}

.about-section {
    padding: 40px 20px;
}

.about-section h2 {
    font-size: 2rem;
    color: #343a40;
    font-weight: 700;
}

.about-section p {
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.6;
}

.about-section img.transparent-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

.about-section .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about-section .btn-primary:hover {
    background-color: #0056b3;
}

.row.align-items-center {
    min-height: 400px; 
    align-items: center; 
}

@media (max-width: 768px) {
    .about-section img.transparent-img {
        margin-bottom: 20px;
    }
    .waste-section .row {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    .waste-title {
        margin-bottom: 20px; 
    }
}

.waste-section {
    padding: 40px 0;
    border-radius: 10px;
}

.waste-section .row {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.waste-title {
    font-size: 1.8rem;
    color: #28a745;
    font-weight: bold;
    text-align: center;
    line-height: 1.4; 
}


.waste-description {
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.6;
    text-align: center;
}

.waste-cost {
    font-size: 1.5rem;
    color: #007bff; 
    text-align: center;
    margin-top: 10px;
}

.waste-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto; 
}

.global-waste {
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.global-waste h5 {
    font-size: 1rem;
    color: #000;
}

.source {
    font-size: 0.8rem;
    color: #6c757d;
    display: block;
    text-align: center;
    margin-top: 10px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
    display: none; 
    background-color: #F3D457;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px; 
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTop i {
    font-size: 24px; 
    line-height: 1; 
}


#backToTop:hover {
    background-color: #F3D457; 
    transform: scale(1.1); 
}
