body {
    background-color: #f9f9f9;
    color: #344b46;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    border: 1px solid #97b1ab;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}


h2 {
    color: #006b5e;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    color: #af9e69;
    font-weight: bold;
    margin-top: 20px;
}


.table {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background-color: #F3D457;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f6f5;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.table td, .table th {
    color: #344b46;
    padding: 12px;
    text-align: left;
}

.form-group label {
    color: #344b46;
    font-weight: bold;
}

.form-control {
    border: 1px solid #97b1ab;
    border-radius: 4px;
    padding: 10px;
    color: #344b46;
}

.form-control:focus {
    border-color: #006b5e;
    box-shadow: 0 0 5px rgba(0, 107, 94, 0.2);
}

.back-button {
    display: inline-flex; 
    align-items: center; 
    background-color: #b0303b;
    color: #fff; 
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none; 
    height: 48px; 
}

.back-button svg {
    fill: none; 
    stroke: #ffffff; 
    margin-right: 8px;
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
}

.back-button span {
    line-height: 1; 
}

.back-button:hover {
    color: #ffffff; 
    background-color: #574240;
    transform: scale(1.05);
    text-decoration: none;
}

.back-button:active {
    background-color: #574240; 
    transform: scale(0.95);
}

.btn-payment {
    background-color: #006b5e;
    color: #fff; 
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-payment:hover {
    background-color: #344b46;
    transform: scale(1.05);
}

.btn-payment:active {
    background-color: #af9e69; 
    transform: scale(0.95);
}

.alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

a {
    color: #006b5e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
